.catalog {
  padding-bottom: 79px;

  &__tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 70px;
    list-style-type: none;
    margin-bottom: 0;
    padding-left: 0;
  }

  &__tab {
    width: 220px;
    height: 50px;
    border: 2px solid #d0d0d0;
    color: #6b6b6b;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    line-height: 48px;
    transform: skewX(-25deg);
    cursor: pointer;
    transition: .5s all;

    &:hover {
      box-shadow: 3px 3px 20px $main-color;
    }

    div {
      transform: skewX(25deg);
    }

    &_active {
      color: #fff;
      background-color: $main-color;
      border: none;

      &:hover {
        box-shadow: none;
      }
    }
  }

  &__content {
    display: none;
    flex-wrap: wrap;
    gap: 18px;
    margin-top: 57px;

    &_active {
      display: flex;
    }
  }

  &-item {
    width: 300px;
    min-height: 440px;
    border: 2px solid #e8e8e8;
    padding: 20px 20px 16px 20px;
    overflow: hidden;

    &__img {
      display: block;
      margin: 0 auto;
      max-width: 100%;
      height: 200px;
    }

    &__subtitle {
      margin-top: 20px;
      color: #0D0D0D;
      font-size: 16px;
      font-weight: 700;
      text-align: center;
    }

    &__descr {
      margin-top: 16px;
      color: #0D0D0D;
      font-size: 14px;
      font-weight: 400;
      text-align: center;
    }

    &__link {
      display: block;
      margin-top: 17px;
      color: $main-color;
      font-size: 14px;
      font-weight: 500;
      text-decoration: underline;
      text-align: center;

      &:hover {
        color: $main-color;
      }
    }

    hr {
      background-color: #e8e8e8;
      margin-top: 19px;
      margin-bottom: 21px;
      border-bottom: none;
    }

    &__footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__old_price {
      color: #555555;
      font-size: 14px;
      font-weight: 300;
      text-decoration: line-through;
    }

    &__current_price {
      font-size: 20px;
      font-weight: 400;
    }

    &__wrapper {
      display: flex;
      width: calc(200% + 40px)
    }

    &__content {
      width: 50%;
      margin-right: 0px;
      transform: translateX(-100%);
      transition: .3s all;

      &_active {
        transform: translateX(0%);
        margin-right: 20px;
      }
    }

    &__list {
      width: 50%;
      transform: translateX(0%);
      padding-right: 20px;
      transition: .3s all;

      &_active {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        transform: translateX(-100%);
        margin-right: 0px;
      }
    }

    &__catalog_list {
      padding-left: 19px;
      margin-bottom: 0;
      list-style-type: none;

    }

    &__item {
      position: relative;
      font-weight: 300;
      font-size: 14px;
      color: #555555;
      margin-bottom: 10px;

      &:before {
        content: '';
        width: 5px;
        height: 5px;
        background-color: $main-color;
        position: absolute;
        top: 5px;
        left: -19px;
      }
    }

    a {
      display: block;
      font-size: 14px;
      text-decoration-line: underline;
      color: #C70101;
      margin: 0 auto;
    }
  }

}